.active {
    color: #FF902A;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    max-width: 1510px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.header {
    padding-top: 60px;
    background-color: #F6EBDA;
}

.header__nav {
    font-size: 32px;
    line-height: 24px;
    font-weight: 500;
    color: #322118;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header__nav-item:hover {
    color: #FF902A;
    transition: color 0.3s ease;
}

.header__nav-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 24px;
    position: relative;
    z-index: 10;
}

.header__nav-btn::before, .menu__btn::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    background-color: #322118;
}

.header__nav-btn::after {
    top: 0;
}

.header__nav-btn::before {
    bottom: 0;
}


.header__nav-btn span {
    height: 2px;
    background-color: #322118;
    width: 100%;
}

.header__nav ul {
    display: flex;
}

.header__nav li + li {
    margin-left: 100px;
}


.hero {
    background-color: #F6EBDA;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #322118;
}

.hero__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

.hero__content {
    max-width: 700px;
}

.hero__main-text {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 70px;
}

.hero__title {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 100px;
}

.hero__text {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 500;
}

.hero__image {
    object-fit: contain;
    margin-top: 50px;
}




@media (max-width: 1540px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width: 1300px) {
    .hero__image {
        display: none;
    }
    .container {
        max-width: 1100px;
    }
    .hero__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero__main-text {
        font-size: 38px;
        line-height: 1.1;
    }
    .hero__title {
        font-size: 66px;
        line-height: 1.1;
    }
}

@media (max-width: 930px) {
    .header__nav li + li {
        margin-left: 50px;
    }
}

@media (max-width: 780px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .header__nav li + li {
        margin-left: 20px;
    }
    .header__nav {
        font-size: 24px;
    }

    .hero__container {
        padding-top: 40px;
    }
}

@media (max-width: 540px) {
    .hero__main-text {
        font-size: 32px;
        line-height: 1.1;
        margin-bottom: 40px;
    }
    .hero__title {
        margin-bottom: 50px;
    }

    .header__nav-btn {
        display: flex;
    }
    .header__nav ul {
        position: absolute;
        inset: 0;
        background-color: #171717;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
        opacity: 0.97;
        height: 100vh;
    }
    .header__nav ul.active {
        transform: translateY(0);
    }
    .header__nav ul.active .header__nav-item {
        color: #FF902A;
        margin-bottom: 40px;
        font-size: 24px;
    }
    .header__nav ul.active .header__nav-item:hover {
        font-size: 32px;
        transition: font-size .1s ease;
    }
}

@media (max-width: 490px) {
    .hero__title {
        font-size: 48px;
        line-height: 1.1;
    }
    .hero__container {
        padding: 0 20px;
    }
}